body {
    background-color: rgb(238, 173, 222);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(185, 131, 216);
    text-align: center;
    font-family: 'Lucien', 'Georgia', serif;
}

h2 {
    color: rgb(120, 70, 150);
    font-family: 'Lucien', 'Georgia', serif;
}

iframe {
    width: 560px;
    height: 315px;
    border-radius: 12px;
    border: none;
}

footer {
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
    padding: 20px;
}